<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}"><head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css"
          th:href="@{/css/mainPage.css}"/>
    <title>Elderly</title>
</head>
<body>

<!--<form th:object="${user}">-->
    <!--<ul>-->
        <!--<li><a class="btn btn-primary" th:href="@{/request/list/{dniElderly}(dniElderly=${user.dni})}" role="button">Ver Request</a></li>-->
    <!--</ul>-->
<!--</form>-->
<form th:object="${user}">
    <div style="center" layout:fragment="content">
        <h2>Welcome <a th:text="${user.name}"></a> </h2>

        <font size="4">

        <div class="form-group row">
        </div>

            <h3><u>See your request</u></h3>
            <a class="btn btn-success" th:href="@{/request/list/{dniElderly}(dniElderly=${user.dni})}" role="button">See request</a>
            <div class="form-group row">
            </div>
            <h3><u>Request new service</u></h3>
            <a class="btn btn-success" th:href="@{/elderly/addOrPhone/{dniElderly}(dniElderly=${user.dni})}">New request</a>
            <div class="form-group row">
            </div>
            <h3><u>Edit your personal information</u></h3>
            <a class="btn btn-success" th:href="@{/elderly/update/{dniElderly}(dniElderly=${user.dni})}" role="button">Edit information</a>
        </font>
    </div>
</form>
</body>
</html>