<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Volunteer management</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Volunteers' list</h1>

<div layout:fragment="content">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone number</th>
        <th>User</th>
        <th>Email</th>
        <th>Pwd</th>
        <th>Hobbies</th>
        <th>Application Date</th>
        <th>Acceptation Date</th>
        <th>Final Date</th>
        <th>Accepted</th>
        <th>Birth Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="volunteer: ${volunteers}">
        <td th:text="${volunteer.name}"></td>
        <td th:text="${volunteer.phoneNumber}"></td>
        <td th:text="${volunteer.userV}"></td>
        <td th:text="${volunteer.email}"></td>
        <td th:text="${volunteer.pwd}"></td>
        <td th:text="${volunteer.hobbies}"></td>
        <td th:text="${#temporals.format(volunteer.applicationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(volunteer.acceptationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(volunteer.finalDate,'dd/MM/yyyy')}"></td>
        <td th:text="${volunteer.accepted}"></td>
        <td th:text="${#temporals.format(volunteer.birthDate,'dd/MM/yyyy')}"></td>

        <td><a class="btn btn-primary" th:href="@{/volunteer/update/{userV}(userV=${volunteer.userV})}" role="button">Edit</a>
        </td>
        <td><a class="btn btn-danger"th:href="@{/volunteer/delete/{userV}(userV=${volunteer.userV})}" role="button">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Add Volunteer</a>
</div>
</body>
</html>
